<main>
    <section class="fotos" >
        <img src="../assets/img/WhatsApp Image 2022-06-06 at 16.12.38 (1).jpeg" alt="">
        <div class="fotos-texto">
            <h2>
                Explore e mostre o mundo com a gente  
            </h2>
            <p>
                Compartilhe suas experiencias com pessoas do mundo inteiro e conheça lugares incríveis para planejar sua próxima viagem 
            </p>
            <div>
                <button type="button" class="button1">CADASTRE-SE</button>
            </div>
        </div>
        <img src="../assets/img/WhatsApp Image 2022-06-06 at 16.12.38.jpeg" alt="">
    </section>
    
    <section class="section-2">
        <div class="image">
            <div class="linha"></div>
            <h6>UMA IMAGEM VALE MAIS QUE MIL PALAVRAS</h6>
            <div class="linha"></div>
        </div>
        <div class="fotos-2">
            <img src="../assets/img/Paris.jpeg" alt="">
            <img src="../assets/img/Rio.jpeg" alt="">
            <img src="../assets/img/China.jpeg" alt="">
            <img src="../assets/img/Argentina.jpeg" alt="">
        </div>
    </section>
    <section class="infos">
        <div class="infos-text">
            <h3>Mas às vezes, todos nós precisamos de um pouco de inspiração para escolher um destino e fazer aquela foto</h3>
            <p>Com o My travels você pode fazer parte de uma rede de viajantes que compartilham suas experiências pelo mundo através de fotos, além de conhecer os mais belos destinos de viagens do mundo de onde você estiver</p>
            <button type="button" class="button2">COMEÇAR</button>
            <img src="../assets/img/logo-aviaoC.png" alt="">
        </div>
        <div class="mala">
            <img src="../assets/img/mala.jpg" alt="">
        </div>
    </section>
</main>

<footer>
    <section class="footer-dados">
       <div class="inicio">
           <h6>Início</h6>
           <p>Home</p>
           <p>Download</p>
       </div>
       <div class="sobre-nos">
           <h6>Sobre nós</h6>
        <p>
            Turma BCW18 
            SoulCode Academy 
            Java Full Stack
        </p>
        <p>
            Squad 6: Erivelton,
            Gabriel, Luiz Martins, Maricélia e Victória
        </p>
       </div>
       <div class="redes">
        <img src="../assets/img/logo-preta.png" alt="">
       </div>
    </section>
    <p class="cop">Copyright © 2022, Squad 6. Todos os direitos reservados.</p>
</footer> 

