<div class="diario" *ngIf="diario$ | async as diario; else loading">
  <div class="diario-titulo">
    <h2>{{ diario.titulo }}</h2>
    <p>{{ diario.local }}</p>
  </div>
  <div class="diario-card">
    <div class="card-img">
      <img  mat-card-image [src]="diario.imagem" alt="Photo of a Shiba Inu" />
    </div>
    <div class="card-descricao">
      <small>{{ diario.data | date }}</small>
      <p>{{ diario.corpo }}</p>
      <img  src="../assets/img/logo-aviaoC.png" alt="">
    </div>
  </div>
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
      <mat-card-subtitle>{{ diario.usuarioNick }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="diario.imagem" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <small>{{ diario.data | date }}</small>
      <p>{{ diario.corpo }}</p>
    </mat-card-content>
  </mat-card> -->
</div>

<ng-template #loading>
  <app-loader label="Carregando diário..."></app-loader>
</ng-template>
