.upload-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 135px;
}

.mat-raised-button-add{
    background-color: #F27C38;
    color: white;
}

.mat-raised-button-img{
    background-color: #01A4B5;
    color: white;
    margin-bottom: 8px;
}